$light-green-color: #99ee88;
$dark-green-color: #77cc66;
$light-red-color: #ee8877;
$dark-red-color: #cc6655;
$light-orange-color: #ffaa44;
$dark-orange-color: #dd8822;
$dark-grey-color: #cccccc;
$light-grey-color: #eeeeee;
$dark-black-color: #333333;
$full-white-color: #ffffff;
$yellow-white-color: #fefefe;


//-------//

/* Nav Colors */
$nav-base: #333333;
$nav-active: #ff9900;
$font-nav: #ffffff;
$hover-link: #111111;
