$light-green-color: #87DC4F;
$dark-green-color: #54D400;
$light-red-color: #FA735A;
$dark-red-color: #F12500;
$light-orange-color: #FF8C2D;
$dark-orange-color: #EF6C00;
$light-blue-color: #297FB6;
$dark-blue-color: #035E99;
$dark-grey-color: #C1C1C0;
$light-grey-color: #eeeeee;
$dark-black-color: #333333;
$full-white-color: #ffffff;
$yellow-white-color: #fefefe;


//-------//

/* Nav Colors */
$nav-base: #333333;
$nav-active: #ff9900;
$font-nav: #ffffff;
$hover-link: #111111;
