*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
      font-family: "Exo-Bold", "Exo", sans-serif;
}

hr{
      margin: 5px 0;
      height: 1px;
      border: 0;
      background: $dark-black-color;
      background-image: linear-gradient(to right,$light-grey-color,$dark-black-color,$light-grey-color);
}

hr.dotted{
      height: 0px;
      border-bottom: 1px dashed $dark-grey-color;
      background: #999;
}

a.button{
      text-decoration: none;
}

.button {
      margin: 5px;
      padding: 5px 10px;
      background-color: $light-grey-color;
      border: 1px solid $dark-grey-color;
      font: 18px sans-serif;
      font-weight: 500;
      color:$dark-black-color;
      -webkit-transition: background-color .3s, border .3s, box-shadow .3s;
      -moz-transition: background-color .3s, border .3s, box-shadow .3s;
      -o-transition: background-color .3s, border .3s, box-shadow .3s;
      -ms-transition: background-color .3s, border .3s, box-shadow .3s;
      transition: background-color .3s, border .3s, box-shadow .3s;
      cursor: pointer;
      display: inline-block;
      outline:none;
      text-transform: uppercase;

      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none;
}

.link{
      border: none;
      outline: none;
      background: none;
      font-size: 16px;
      color: rgb(0, 0, 238);
}

.link:hover{
      color: #5555ff;
      cursor: pointer;
}

.link:active{
      color: #ff1111;
}

.button:hover{
      background-color: $dark-grey-color;
      border-color: $light-grey-color;
      box-shadow: 2px 1px 7px #888;
}

.green{
      background: $light-green-color;
      border-color: $dark-green-color;
}

.green:hover{
      background: $dark-green-color;
      border-color: $light-green-color;
}

.red{
      background: $light-red-color;
      border-color: $dark-red-color;
}

.red:hover{
      background: $dark-red-color;
      border-color: $light-red-color;
}

.orange{
      background: $light-orange-color;
      border-color: $dark-orange-color;
}

.orange:hover{
      background: $dark-orange-color;
      border-color: $light-orange-color;
}

.blue{
      background: $light-blue-color;
      border-color: $dark-blue-color;
}

.blue:hover{
      background: $dark-blue-color;
      border-color: $light-blue-color;
}

.green,.red,.orange,.blue{
      color: #fff;
}
