fieldset{
	margin: 5px auto;
	border: #555 1px solid;
	padding:5px;
	box-shadow: 2px 2px 3px #ccc;
}

legend{
	padding:2px 4px;
	border: #555 1px solid;
	border-radius: 2px;
	font: 90% 'Exo', sans-serif;
	color: #444;
	font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="email"],
input[type="color"],
textarea,
select{
	outline:none;
	font-size: 80%;
	color: #000;
	height: 25px;
	padding: 2px 5px;
	margin: -3px 0 3px;
	border: 1px solid #999;
	border-radius: 1px;
	box-shadow: 2px 2px 3px #ccc;
	-webkit-transition: border-color .7s;
	transition: border-color .7s;
}

select {
	padding-right: 2.5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;

	background-image:
		linear-gradient(45deg, transparent 50%, #555 50%),
		linear-gradient(135deg, #555 50%, transparent 50%),
		linear-gradient(to right, #ddd, #ddd);
	background-position:
		calc(100% - 12px) calc(100% - 8px),
		calc(100% - 07px) calc(100% - 8px),
		100% 0;
	background-size:
		5px 5px,
		5px 5px,
		25px 25px;
	background-repeat: no-repeat;
}

/* arrows */
select:focus {
	background-image:
		linear-gradient(135deg, #fff 50%, transparent 50%),
		linear-gradient(45deg, transparent 50%, #fff 50%),
		linear-gradient(to right, #777, #777);
	background-position:
		calc(100% - 07px) calc(100% - 8px),
		calc(100% - 12px) calc(100% - 8px),
		100% 0;
}

textarea{
	height: 75px;
}

.notResizable{
	resize: none;
}

input[type="radio"] {
	visibility: hidden;
	margin-right: 8px;
	margin: 2px 0;
	width: 0;
	padding: 0;
}

input[type="radio"] + label::before {
	cursor: pointer;
	content: " ";
	#background-color: #ccc;
	display: inline-block;
	margin-right: 15px;
	width: 6px;
	height: 6px;
	border: 3px solid #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	visibility: visible;
	box-shadow: 0 0 0px 2px #999;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}

input[type="radio"]:checked + label::before {
	background-color: #555;
}

input[type="checkbox"] {
	visibility: hidden;
	margin-right: 8px;
	cursor: pointer;
}

input[type="checkbox"] + label::before {
	content: " ";
	#background-color: #ccc;
	display: inline-block;
	margin-right: 15px;
	width: 6px;
	height: 6px;
	border: 3px solid #fff;
	visibility: visible;
	box-shadow: 0 0 0px 2px #999;
	-webkit-transition: background-color .3s;
	transition: background-color .3s;
}

input[type="checkbox"]:checked + label::before {
	background-color: #555;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="email"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus{
	border-color: #444;
}

[class*="col-"] > input[type="text"],
[class*="col-"] > input[type="password"],
[class*="col-"] > input[type="number"],
[class*="col-"] > input[type="date"],
[class*="col-"] > input[type="email"],
[class*="col-"] > input[type="color"],
[class*="col-"] > textarea,
[class*="col-"] > select{
	width: 100%;
}

span.error-message{
	color: #ff0000;
}

@media only screen and (min-width: 600px){
	.label{
		text-align: left;
	}
}

@media only screen and (min-width: 768px) {
	.label{
		text-align: right;
	}
}
