div.info{
      padding: 12px;
      background: $light-grey-color;
      border: 2px solid $dark-grey-color;
      margin: 5px auto;
}

div.info > .close{
      float:right;
      font-size: 46px;
      line-height: 25%;
      font-weight:bold;
      cursor: pointer;
      color: #333;
}

div.info > .close:hover{
      color: #000;
}

div.info.info-sucess{
      background: $dark-green-color;
      border-color:$light-green-color;
      color: #006600;
}

div.info.info-sucess h1 h2 h3 h4 h5 h6{
      color: #004400;
}

div.info.info-warning{
      background: $light-orange-color;
      border-color:$dark-orange-color;
      color: #660000;
}

div.info.info-warning h1 h2 h3 h4 h5 h6{
      color: #440000;
}

div.info.info-error{
      background: $light-red-color;
      border-color:$dark-red-color;
      color: #990000;
}

div.info.info-error  h1 h2 h3 h4 h5 h6{
      color: #770000;
}

div.info.closed{
      display:none;
}
