.panel{
      margin: 25px auto;
      box-shadow: 2px 2px 4px $light-grey-color;
      word-wrap: break-word;
}

.panel-header,
.panel-body{
      padding: 8px;
      border: 2px solid $dark-grey-color;
}

.panel-header{
      padding: 8px 15px;
      background: $dark-grey-color;
      border-radius: 2px 0;
}

.panel-header + .panel-body{
      padding: 20px 15px;
      background: $yellow-white-color;
      border-width: 0 2px 2px 2px;
      border-radius: 0 2px;
}

/* success */
.panel-success > .panel-header{
      background: $dark-green-color;
}

.panel-success > .panel-header,
.panel-success > .panel-body{
      border-color: $dark-green-color;
}

/* warning */
.panel-warning > .panel-header{
      background: $dark-orange-color;
}

.panel-warning > .panel-header,
.panel-warning > .panel-body{
      border-color: $dark-orange-color;
}

/* error */
.panel-error > .panel-header{
      background: $dark-red-color;
}

.panel-error > .panel-header,
.panel-error > .panel-body{
      border-color: $dark-red-color;
}
