.panel{
      margin: 25px auto;
      box-shadow: 2px 2px 4px $light-grey-color;
      word-wrap: break-word;
}

.panel-header,
.panel-body{
      padding: 8px;
      border: 2px solid $dark-grey-color;
}

.panel-header{
      padding: 8px 15px;
      background: $dark-grey-color;
      border-radius: 1px 1px 0 0;
}

.panel-header + .panel-body{
      padding: 20px 15px;
      background: $yellow-white-color;
      border-width: 0 2px 2px 2px;
      border-radius: 0 0 1px 1px;
}

/* success */
.panel-green > .panel-header{
      background: $dark-green-color;
}

.panel-green > .panel-header,
.panel-green > .panel-body{
      border-color: $dark-green-color;
}

/* warning */
.panel-orange > .panel-header{
      background: $dark-orange-color;
}

.panel-orange > .panel-header,
.panel-orange > .panel-body{
      border-color: $dark-orange-color;
}

/* error */
.panel-red > .panel-header{
      background: $dark-red-color;
}

.panel-red > .panel-header,
.panel-red > .panel-body{
      border-color: $dark-red-color;
}

/* blue */
.panel-blue > .panel-header{
      background: $dark-blue-color;
}

.panel-blue > .panel-header,
.panel-blue > .panel-body{
      border-color: $dark-blue-color;
}

.panel-green > .panel-header,
.panel-orange > .panel-header,
.panel-red > .panel-header,
.panel-blue > .panel-header{
      color: #fefefe;
}
