div.tab-container{
      min-width: 50%;
      margin: 5px auto;
      box-shadow: 2px 2px 6px #bbbbbb;
}

div.tab-links-container{
      overflow: hidden;
      border: 1px solid #555555;
      background-color: #333333;
}

div.tab-links-container button,
div.tab-links-container a{
      background-color: inherit;
      color: #fff;
      font-size: 16px;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: .3s;
      text-decoration: none;
}

div.tab-links-container button:hover,
div.tab-links-container a:hover{
      background-color: #994400;
      color: #fff;
}

div.tab-links-container > button.tab-active,
div.tab-links-container > a.tab-active{
      background-color: #ff9900;
}

div.tab-content{
      display: none;
}

div.tab-content.current-tab{
      display: block;
      opacity: 1;
      padding: 6px 12px;
      border: 1px solid #555555;
      height: auto;
      border-top: none;
}
