*{
	margin: 0;	
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

:root{
	--light-green-color: #99ee88;
	--dark-green-color: #77cc66;
	--light-red-color: #ee8877;
	--dark-red-color: #cc6655;
	--light-orange-color: #ffaa44;
	--dark-orange-color: #dd8822;
}

h1,h2{
	font-family: 'Exo', sans-serif;
}

hr{
	margin: 5px 0;
	height: 1px;
	border: 0;
	background: #333;
	background-image: linear-gradient(to right,#eee,#333,#eee);
}

hr.dotted{
	height: 0px;
	 border-bottom: 1px dashed #ccc;
	 background: #999;
}

a.button{
	text-decoration: none;
}

.button {
	margin: 5px;
	padding: 5px 10px;
	background-color: #ccc;
	border: 1px solid #eee;
	font: 19px sans-serif;
	letter-spacing: 1px;
	color:#333;
	-webkit-transition: background-color .7s, border .7s;
	   /*-moz-transition: background-color .7s, border .7s;
	     -o-transition: background-color .7s, border .7s;
	    -ms-transition: background-color .7s, border .7s;*/
	        transition: background-color .7s, border .7s;
	cursor: pointer;
	display: inline-block;
	outline:none;
	
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}       
        
.button:hover{
	background-color: #eee;
	border: 1px solid #ccc;
}

.green{
	background: var(--dark-green-color);
}

.green:hover{
	background: var(--light-green-color);
}

.red{
	background: var(--dark-red-color);
}

.red:hover{
	background: var(--light-red-color);
}

.orange{
	background: var(--dark-orange-color);
}

.orange:hover{
	background: var(--light-orange-color);
}